nav ul.main-ul>li.menu1>a {
    background: url(/img/sushilki.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu2>a {
    background: url(/img/Dispenser.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu17>a {
    background: url(/img/fen.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu21>a {
    background: url(/img/Dispenser-bumagi.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu23>a {
    background: url(/img/sensor.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu31>a {
    background: url(/img/osvezhitel.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu32>a {
    background: url(/img/urna.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu33>a {
    background: url(/img/kipyatilnik.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu34>a {
    background: url(/img/smesitel.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu35>a {
    background: url(/img/uborka.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu36>a {
    background: url(/img/rashod.png) no-repeat center bottom;
    padding-bottom: 50px;
}
nav ul.main-ul>li.menu37>a {
    background: url(/img/aks.png) no-repeat center bottom;
    padding-bottom: 50px;
}