<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/uikit.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/menu.css" />
		<link rel="stylesheet" href="/css/range.css">
		
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/js/uikit.min.js"></script>
		<script src="/js/uikit.js"></script>
		<script src="/js/menu.js"></script>
		<script src="/js/ini.js"></script>
		<script src="/js/uikit-icons.min.js"></script>
		<link rel="import" href="/header.html">
		<link rel="import" href="/footer.html">
		
		
		</head>
<body>
<script>
      var link = document.querySelector('link[rel=import]');
      var content = link.import.querySelector('#page-wrapper');
      document.body.appendChild(content.cloneNode(true));
</script>


<div class="uk-container">
<p class="title-cat">Сушилки для рук</p>
	<div class="uk-grid">
		<div class="uk-width-1-4 left-col" >
		<div class="filter">
			<p class="filter-title">Фильтр</p>
			<form class="filter-form">
				<p>Цена</p>
				<input type="text" id="amount" readonly>
				<div id="slider-range" ></div>
				<p>Производители</p>
				<ul>
				<li><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> G-tex</li>
				<li><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> G-tex</li>
				<li><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> G-tex</li>
				<li><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> G-tex</li></ul>
				<p>Мощность</p>
				<input type="text" id="amount-mosh" readonly>
				<div id="slider-range-mosh" ></div>
				<ul>
				<li><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Антивандальная защита</li>
				<li><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Автовыключение/включение</li>
				</ul>
			</form>
		</div>
			<p class="title">Контактная информация</p>
			<p>+7 (812) 123-45-78</p>
			<p>info@wendy.ru </p>
			<p>Мы работаем для Вас:<br>
			ПН-ПТ: 08:00 - 18:00<br>СБ: 10:00 - 16:00 </p>
		</div>
		<div class="green uk-width-3-4 content" >
			<div class="sort">
			<div class="uk-column-1-3 uk-column-divider">
				<div>Сортировать по цене: <a href="" uk-icon="icon: arrow-down"></a> <a href="" uk-icon="icon: arrow-up"></a></div>
				<div><form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Популярные товары</form></div>
				<div><form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Товары по акции</form></div>
			</div>
			</div>
			<div class="last uk-child-width-1-3@m  uk-grid-small uk-grid-match uk-grid" >
			
				<div class="  uk-margin-bottom">
					<div class="uk-card uk-card-default">
					<form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Сравнить</form>
						<div class="uk-card-media-top uk-text-center">
							<img src="/cat-img/8814-pw.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center">
							<h3 class="uk-card-title"><a href="#">Сушилка для рук G-teq 8814 PW</a></h3>
							<p class="price">Цена: <span class="dark-green">6250<span> р.</p>
							<form class="add-cart">
							   <p><input type="submit" value="Добавить"></p>
							 </form>
						</div>
					</div>
				</div>
				
			
			
				<div class="  uk-margin-bottom">
					<div class="uk-card uk-card-default">
					<!--Выводить если товар популярный-->
					<div class="hit"><img src="/img/hit.png" alt=""></div>
					<!--   -->
					<form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Сравнить</form>
						<div class="uk-card-media-top uk-text-center">
							<img src="/cat-img/8814-pw.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center">
							<h3 class="uk-card-title"><a href="#">Сушилка для рук G-teq 8814 PW</a></h3>
							<p class="price">Цена: <span class="dark-green">6250<span> р.</p>
							<form class="add-cart">
							   <p><input type="submit" value="Добавить"></p>
							 </form>
						</div>
					</div>
				</div>
				
			
			
				<div class="  uk-margin-bottom">
					<div class="uk-card uk-card-default">
					<form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Сравнить</form>
						<div class="uk-card-media-top uk-text-center">
							<img src="/cat-img/8814-pw.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center">
							<h3 class="uk-card-title"><a href="#">Сушилка для рук G-teq 8814 PW</a></h3>
							<p class="price">Цена: <span class="dark-green">6250<span> р.</p>
							<form class="add-cart">
							   <p><input type="submit" value="Добавить"></p>
							 </form>
						</div>
					</div>
				</div>
				
				<div class="  uk-margin-bottom">
					<div class="uk-card uk-card-default">
					<form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Сравнить</form>
						<div class="uk-card-media-top uk-text-center">
							<img src="/cat-img/8814-pw.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center">
							<h3 class="uk-card-title"><a href="#">Сушилка для рук G-teq 8814 PW</a></h3>
							<p class="price">Цена: <span class="dark-green">6250<span> р.</p>
							<form class="add-cart">
							   <p><input type="submit" value="Добавить"></p>
							 </form>
						</div>
					</div>
				</div>
				
			
			
				<div class="  uk-margin-bottom">
					<div class="uk-card uk-card-default">
					<form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Сравнить</form>
						<div class="uk-card-media-top uk-text-center">
							<img src="/cat-img/8814-pw.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center">
							<h3 class="uk-card-title"><a href="#">Сушилка для рук G-teq 8814 PW</a></h3>
							<p class="price">Цена: <span class="dark-green">6250<span> р.</p>
							<form class="add-cart">
							   <p><input type="submit" value="Добавить"></p>
							 </form>
						</div>
					</div>
				</div>
				
			
			
				<div class="  uk-margin-bottom">
					<div class="uk-card uk-card-default">
					<form><input class="uk-checkbox" type="checkbox" name="option1" value="a1"> Сравнить</form>
						<div class="uk-card-media-top uk-text-center">
							<img src="/cat-img/8814-pw.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center">
							<h3 class="uk-card-title"><a href="#">Сушилка для рук G-teq 8814 PW</a></h3>
							<p class="price">Цена: <span class="dark-green">6250<span> р.</p>
							<form class="add-cart">
							   <p><input type="submit" value="Добавить"></p>
							 </form>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		</div>
	</div>	
</div>
<script>
      var link = document.querySelector('link[rel=import]');
      var content1 = link.import.querySelector('#footer');
      document.body.appendChild(content1.cloneNode(true));
</script>
</body>
</html>
