#AuthType Basic
#AuthName "My Protected Area"
#AuthUserFile .htpasswd
#Require valid-user
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
