html{background: url(/img/bg.jpg) no-repeat left bottom 100px;
    background-size: 100%;}
body{margin:0px;font-family:Arial,Helvetica,sans-serif;
    }
#page-wrapper{width: 100%;position: relative;}
.wrapper{width: 98%;margin:0 auto;max-width:1180px;}
a:hover{
	color: #93b733;
	cursor:pointer;
}
.head-top{
    background: #666877;
    background: -moz-linear-gradient(left, #666877 0%, #86899c 17%, #ababc5 49%, #86899c 79%, #666877 100%, #666877 100%);
    background: -webkit-linear-gradient(left, #666877 0%,#86899c 17%,#ababc5 49%,#86899c 79%,#666877 100%,#666877 100%);
    background: linear-gradient(to right, #666877 0%,#86899c 17%,#ababc5 49%,#86899c 79%,#666877 100%,#666877 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666877', endColorstr='#666877',GradientType=1 );
    height: 50px;
}
.head-middle{margin-top:20px;}
.call a{color: #d5fb43; font-size: 18px;}
.green{color: #c1e82a;}
.dark-green{color: #77a848;}
.cart a{color: #fff;text-transform: uppercase;}
.links a{padding:10px 5px;height: 30px;display: inline-block;}
.cart a:hover{color:#fff;text-decoration:none;}
.call a:hover{color:#d5fb43;text-decoration:none;}
ul.top-menu li{list-style:none;display:inline-block;}
ul.top-menu li a{padding: 0 10px;color: #666;text-transform: uppercase;}
.search{border: 1px solid #acaec7;overflow: hidden;text-align: right;border-radius: 5px;padding: 0px 5px;}
.search input{border: none;float: left;}
.search input[type=submit]{background: url(/img/search.png) no-repeat right;}
input:focus{outline:0;}
.slider{margin-top:40px;position: relative; padding-bottom: 30px;}
.uk-dotnav>.uk-active>* {    background-color: #c1e82a;}
.content, .left-col{min-height: 500px;margin-top: 30px;margin-bottom: 100px;}
.content .title, .left-col .title,.title-cat{
    color: #77a848;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}
.content .title,.title-cat{border-bottom: 2px solid #77a848;}
.title-cat{
    margin-top: 20px;
    margin-bottom: 10px;
}
.content .uk-card-default{box-shadow: none;border-radius: 10px;border: 3px solid #c1e82a;}
.content .uk-card-default img {max-height:150px;}
.uk-card-body {padding: 20px 20px;}
.price{font-size: 22px;}
.price span{font-weight:bold;}
.add-cart p{
	background: #4b6b4c;
    background: -moz-linear-gradient(left, #4b6b4c 1%, #77a848 100%);
    background: -webkit-linear-gradient(left, #4b6b4c 1%,#77a848 100%);
    background: linear-gradient(to right, #4b6b4c 1%,#77a848 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6b4c', endColorstr='#77a848',GradientType=1 );
	width: 150px;
    border-radius: 10px;
    margin: 0 auto;
}
.info .add-cart p{margin: 10px 0;}
.add-cart input[type=submit]{
	background: transparent;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding-right: 40px;
	background: url(/img/add-cart.png) no-repeat right;
    
}
.add-cart input[type=number]{width: 50px;
    text-align: center;}

.last.uk-grid>* {
   
}
.uk-card-title a {
    color: #171717;
    text-decoration: underline;
    cursor: pointer;
    font-size: 21px;
}
.left-col .uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: none;
    border: 1px solid #949492;
    border-radius: 10px;
    padding: 5px;
}
.left-col .uk-card-default .uk-card-body {
    padding: 0px;
}
.left-col .uk-card-default .uk-card-title {
    font-size: 1.2rem;
    line-height: 1;
    color: #77a848;
    text-decoration: underline;
	margin-bottom: 10px;
}
.left-col .uk-card-default p{margin-top: 10px;margin-bottom: 10px;}
.left-col .uk-card-footer {
    padding: 0px;
}
.left-col .uk-card-media-left{padding-right: 10px;}
.left-col .uk-card-footer p{    font-size: 12px;margin:5px 0;}
.all-news{text-transform: uppercase;
    color: #979aaf;
    padding-right: 30px;
    background: url(/img/str.png) no-repeat right;
    font-weight: bold;
    text-decoration: underline;}
#footer{background: #979aaf;padding: 30px 0;
}
.footer-left p{display: inline-block; color:#fff;text-transform: uppercase;}
.f-right{color:#fff;}
.f-right p{border-bottom: 1px solid #c1e84f;text-transform: uppercase;}
ul.footer-menu{
    padding-left: 0px;
    list-style: none;text-transform: uppercase;
}
ul.footer-menu a{color:#fff;}
.footer-left p.copyright {
text-transform: none;
    font-size: 12px;
    border-top: 1px solid #fff;
}
.uk-checkbox{    border-radius: 5px;margin: 5px;}
.uk-checkbox:focus{ outline: 0; border-color: #acaec7;}
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus {
    background-color: #acaec7;
}
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: #acaec7;
    border-color: transparent;
}
.hit{
    position: absolute;
    right: 0;
    top: 0;
}
.sort, .filter{    padding: 10px;
    border: 1px solid #acaec7;
    color: #666;
    border-radius: 10px;
    margin-bottom: 20px;}
.filter-title{
	width: 70px;
    text-align: center;
    margin-top: -22px;
    background: #fff;
    padding: 0px;
}	
.filter-form li{list-style: none;}
.sort .uk-grid div	{
    border-left: 1px solid #acaec7;
    padding-top: 10px;
    padding-bottom: 10px;
	}
.sort .uk-grid div:first-child{border-left: none;}